{% extends 'base.html' %}
{% block title %} Kinderzentrum - Administración de usuarios {% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/admin_usuarios.css" />

{% endblock css %}

{% block js %}

{% endblock js %}

{% block title_name %}: Cambio de contraseña{% endblock %}


{% block content %}
<div class="container">
      <div class="card card-container">
        <form action="{% url 'changepassword' %}" method="POST" class="form-signin" >{% csrf_token %}


              <div id="errorMsg" class="fade-in one">{{ form.non_field_errors}}</div>
              <input type="password" id="id_newpassword" name="newpassword" class="form-control" placeholder="Contraseña" required>
              <input type="password" id="id_renewpasssword" name="renewpasssword" class="form-control" placeholder="Repita contraseña" required>

              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cambiar contraseña</button>
          </form><!-- /form -->

      </div><!-- /card-container -->
  </div><!-- /container -->

{% endblock %}
