<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title>{% block title %}Login{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    {% endblock css %}

    {% block js %}
	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    {% endblock js %}
</head>

<body>

  {% block content %}
  <div class="container">
    <div class="card card-container">

      <h1>Reestablecer contraseña</h1>
      <p class="text-center">Siga el link enviado a su dirección de correo</p>
      <a href="/" class="btn btn-lg btn-primary btn-block btn-signin" role="button">Inicio</a>
      <a href="{% url 'login_view' %}" class="btn btn-lg btn-primary btn-block btn-signin" role="button">Login</a>

    </div>
  </div>


  {% endblock %}
</body>
</html>
