<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title>{% block title %}Login{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    {% endblock css %}

    {% block js %}
	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    {% endblock js %}
</head>

<body>

  {% block content %}
<div class="container">
  <div class="card card-container">
    <h1>Reestablecer contraseña</h1>

    <p>Ingrese su dirección de e-mail a continuación:</p>

    <form action="" method="post" class="form-signin">{% csrf_token %}
    {{ form.email.errors }}

      <input type="email" id="id_email" name="email" class="form-control" placeholder="E-mail" required autofocus>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Reestablecer contraseña</button>

    </form>
  </div>
</div>
{% endblock %}
</body>
</html>
