<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title>{% block title %}Login{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    {% endblock css %}

    {% block js %}
	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    {% endblock js %}
</head>

<body>
	{% block content %}
	<center><img src="../static/images/kz_logo2.png" width=100 height=100 style="margin-top: 10px;"></center>
	<h1>Kinderzentrum</h1>
	<h2>Cambio de contraseña realizado con éxito</h2>

	<div class="container">
        <div class="card card-container">
          <h1>Cambio de contraseña realizado con éxito</h1>

          <p>Su contraseño ha sido cambiada</p>
        </div><!-- /card-container -->
    </div><!-- /container -->
    <div id="nuevaCuenta"><a href="/"><--Regresar a menú principal</a></div>
	{% endblock %}
</body>
</html>
