<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title>{% block title %}Login{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    {% endblock css %}

    {% block js %}
	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    {% endblock js %}
</head>

<body>
	{% block content %}



	<div class="container">
        <div class="card card-container">
          <h1>Cambio de contraseña</h1>

    <p class="text-center">Su nueva contraseña ha sido establecida con éxito, proceda con el ingreso a <b>Kinderzentrum</b></p>

    <a href="{% url 'login_view' %}" class="btn btn-lg btn-primary btn-block btn-signin" role="button">Login</a>
        </div><!-- /card-container -->
    </div><!-- /container -->

	{% endblock %}
</body>
</html>
