<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title>{% block title %}Login{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    {% endblock css %}

    {% block js %}
	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    {% endblock js %}
</head>

<body>
	{% block content %}


  <div class="container">
        <div class="card card-container">

          {% if validlink %}
          <h1>Nueva Contraseña</h1>
          <p class="text-center">Ingresar su nueva contraseña dos veces para confirmación</p>
            <form action="" method="POST" class="form-signin">{% csrf_token %}
              <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="Contraseña" required>
              <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="Repita contraseña" required>

              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cambiar contraseña</button>
            </form>
            {% else %}

            <h1>Reseteo de contraseña inválido</h1>

            <p>Link invalido, usado previamente, vuelva a realizar el cambio de contraseña</p>

            {% endif %}

          </div>
        </div>





	{% endblock %}
</body>
</html>
