h1{
	font-size: 38px;
	text-align: center;
	font-family: "Century Gothic",arial;
	color: #555;	
	background: url("../images/banner.jpg") no-repeat; 
	background-size: 100% 100%;  
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}