{% extends 'base.html' %}
{% block title %} Kinderzentrum - Ficha Clínica {% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/registro.css" />
{% endblock css %}

{% block js %}
{% endblock js %}


{% block title_name %}: Registro Pacientes {% endblock %}


{% block content %}


<div class="dotstyle dotstyle-tooltip" style="margin: 4% 0px 1% 10%; font-size:12px;">
	<ul id="dots_nav">
		<li id="nav1" onclick="setPanelVisible(1)" class="separator current"><a href="#">Paciente</a></li>
		<li id="nav2" onclick="setPanelVisible(2)" class="separator current shown"><a href="#" >Familiares</a></li>
		<li id="nav3" onclick="setPanelVisible(3)" class="separator current shown"><a href="#">Médico</a></li>
		<li id="nav4" onclick="setPanelVisible(4)" class="separator current shown"><a href="#">Niño(a)</a></li>
		<li id="nav5" onclick="setPanelVisible(5)" class="separator current shown"><a href="#">Madre</a></li>
		<li id="nav6" onclick="setPanelVisible(6)" class="separator current shown"><a href="#">Gestación</a></li>
		<li id="nav7" onclick="setPanelVisible(7)" class="separator current shown"><a href="#">Nacimiento</a></li>
		<li id="nav8" onclick="setPanelVisible(8)" class="separator current shown"><a href="#">Recién Nacido</a></li>
		<li id="nav9" onclick="setPanelVisible(9)" class="separator current shown"><a href="#">Primeros Días</a></li>
		<li id="nav10" onclick="setPanelVisible(10)" class="separator current shown"><a href="#">Alimentación</a></li>
		<li id="nav11" onclick="setPanelVisible(11)" class="separator current shown"><a href="#">Historia Familiar</a></li>


	</ul>
</div>

<form method="POST">
	{% csrf_token %}

	<!-- Paciente -->
	<div id="panel1" class="show panel panel-default" data-error="0">
		<div class="panel-heading">Datos del Paciente</div>

		<div class="panel-body">
			{{ ficha_datos_form.non_field_errors }}
	  		{% for field in ficha_datos_form %}
				{{field.errors}}
	  			<div class="row">
		  			<!--div class="form-group col-xs-7 col-lg-1"-->
		  			<div class="form-group span6 {% if field.errors %} has-error{% endif %}">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			    		{% if field.name == "sexo" %}
			    			{% for radio in field %}

								<label class="radio-inline" style="margin: 5px 0px 10px;" for="{{ radio.id_for_label}}">
									{{ radio.tag }}
									{{ radio.choice_label }}
								</label>

							{% endfor %}

			      		{% else %}
			      		{{ field }}
			      		{% endif %}
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

    <!-- Familiares -->
	<div id="panel2" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Datos Familiares</div>
        {{ datos_familia_formset.management_form }}
        {% for form in datos_familia_formset %}
		<div  class="panel-body formset-familiares">
			<h3>Familiar</h3>
			{% for field in form %}
				{% if field.name != "id" and field.name != "paciente" %}
					{{ field.errors }}
	  				<div class="row">
		  				<div class="form-group {% if field.errors %} has-error{% endif %} span6">
							<label for="code" style="width: 20%;">{{field.label}}</label>
			      			{{ field }}
	      				</div>
	      			</div>
				{% else %}
					{{ field }}
	      		{% endif %}
                <!-- Colocar etiqueta de Domicilio luego del campo nivel de estudio -->
				{% if field.name == "nivel_estudio" %}
					<h4>Domicilio</h4>
				{% endif %}
                <!-- Colocar etiqueta de Trabajo luego del campo telefonos (domicilio) -->
				{% if field.name == "telefonos" %}
				<h4>Trabajo</h4>
				{% endif %}
	      	{% endfor %}
		</div>
        <hr>
        {% endfor %}
         <button id="btn-add-familiar" type="button" class="btn btn-primary btn-block">Agregar nuevo familiar</button>
	</div>

	<!-- Medico -->
	<div id="panel3" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Datos del Médico</div>
        {{ datos_medico_formset.management_form }}
        {% for form in datos_medico_formset %}
		<div class="panel-body formset-medico">
			<h3>Médico</h3>
			{% for field in form %}
				{% if field.name != "id" and field.name != "paciente" %}
					{{ field.errors }}
	  				<div class="row">
		  				<div class="form-group {% if field.errors %} has-error{% endif %} span6">
			    			<label for="code" style="width: 20%;">{{field.label}}</label>
			      			{{ field }}
	      				</div>
	      			</div>
				{% else %}
					{{ field }}
	      		{% endif %}
	      	{% endfor %}
		</div>
        <hr>
        {% endfor %}
        <button id="btn-add-medico" type="button" class="btn btn-primary btn-block">Agregar nuevo médico</button>
	</div>

	<!-- Descripcion del niño -->
	<div id="panel4" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Descripcion del niño</div>
        <div class="panel-body">
			{% for field in descripcion_paciente %}
	  			<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 4 %} adjust {% endif %}">
					{% if forloop.counter == 3 %}
						<div id="otro-descubridor" style="display:none;">
							{{ field.errors }}
							{{ field }}
						</div>
					{% else %}
		    			<label for="code">{{field.label}}</label>
						{{field.errors}}
		      			{{ field }}
					{% endif %}
      			</div>
				{% if forloop.counter == 7 %}
					<div id="terapia_formset" class="adjust">
						{{ terapia_formset.management_form }}
						{% for form in terapia_formset.forms %}
							<div class="form-group {% if form.tiempo_terapia.errors %} has-error{% endif %}">
									<div id="terapia_hidden_fields" style="display:none;">
										{{ form.tipo }}
										{{ form.id }}
									</div>
		    						<label for="code">
										{{form.tiempo_terapia.label}}{% if forloop.counter == 1 %} rehabilitación física{% else %} estimulación temprana{% endif %}?
									</label>
									{{form.tiempo_terapia.errors}}
		      						{{ form.tiempo_terapia }}
      						</div>
						{% endfor %}
					</div>
				{% endif %}

	      	{% endfor %}
            <div id="medicamentos-formset">
                <h4>Medicamentos</h4>
                {{ medicamento_formset.management_form }}
				{% for error in medicamento_formset.errors %}
					{{error}}
				{% endfor %}
                <table class="table table-bordered table-condensed adjust2">
                    <tr>
                        <th>Nombre</th>
                        <th>Dosis diaria</th>
                    </tr>
                    {% for form in medicamento_formset %}
                        {{ form.id }}
                        <tr class="formset-medicamentos">
                            <td>{{form.nombre}}</td>
                            <td>{{form.dosis_diaria}}</td>
                        </tr>
                    {% endfor %}
                </table>
				<button id="btn-add-medicamento" type="button" class="btn-default btn">Agregar otro</button>
				<button id="btn-delete-medicamento" type="button" class="btn-default btn">Eliminar</button>
            </div>
		</div>
	</div>

	<!-- Historial madre -->
	<div id="panel5" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Historial de la Madre</div>

		<div class="panel-body">
			{% for field in historial_madre_form %}
	  			<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 9 or forloop.counter == 10 or forloop.counter == 11 or forloop.counter == 14 %} adjust {% endif %}">

					{% if forloop.counter != 2 and forloop.counter != 4 %}
		    			<label for="code">{{field.label}}</label>
					{% endif %}
					{{  field.errors }}
		      		{{ field }}
      			</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel6" class="hide panel panel-default" data-error="0">
 		<div class="panel-heading">Desarrollo de la Gestación</div>

		<div class="panel-body">
			{% for field in gestacion %}
	  			<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 6 %} adjust {% endif %}">

		    		<label for="code">{{field.label}}</label>
					{{ field.errors }}
		      		{{ field }}
      			</div>
	      	{% endfor %}

                <div class="form-group">
                    <label for="code">Presentó algunas de las situaciones durante la gestación? Marque el trimestre cuando sucedió</label>

                    {{ situacion_gestacion.management_form }}
                    <table class="table table-bordered table-condensed adjust2">
                        <tr>
                            <th>Situación presentada</th>
                            <th>Periodo</th>

                        </tr>
                        {% for form in situacion_gestacion %}
                            {{ form.id }}
                            <tr>
                                <td>{{form.nombre_situacion}}</td>
                                <td>{{form.periodo}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                </div>

                <div class="form-group">
                    <label for="code">Seleccione si ha realizado las siguientes actividades durante el embarazo</label>

                    {{ actividad_gestacion.management_form }}
                    <table class="table table-bordered table-condensed adjust2">
                        <tr>
                            <th>Situación presentada</th>
                            <th>Periodo</th>

                        </tr>
                        {% for form in actividad_gestacion %}
                            {{ form.id }}
                            <tr>
                                <td>{{form.nombre_actividad}}</td>
                                <td>{{form.periodo}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                </div>
		</div>
	</div>

    <div id="panel7" class="hide panel panel-default" data-error="0">
        <div class="panel-heading">Nacimiento del niño(a)</div>
        <div class="panel-body">
            {% for field in nacimiento %}
                <div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 9 %} adjust {% endif %}">
                    <label for="code">{{field.label}}</label>
					{{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
        </div>
    </div>

	<div id="panel8" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Datos del Recién Nacido</div>
		<div class="panel-body">
			{% for field in recien_nacido %}


		  	<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 or forloop.counter == 5  or forloop.counter == 13 %} adjust {% endif %}">

				{% if forloop.counter == 8 %}
					<div id="otra-complicacion" style="display: none;">
						{{ field.errors }}
						{{ field }}
					</div>
				{% else %}
					<label for="code">{{field.label}}</label> <br/>
					{{ field.errors }}
					{{ field }}
				{% endif %}

	      	</div>
	      	{% endfor %}
		</div>
	</div>

    <!-- Primeros dias de vida -->
	<div id="panel9" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Primeros Días de Vida del Niño</div>
		<div class="panel-body">
			{% for field in primeros_dias %}


		  	<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 7 or forloop.counter == 11 or forloop.counter == 13  or forloop.counter == 14 %} adjust {% endif %}">

				{% if forloop.counter == 5 or forloop.counter == 9 %}
					<div style="display:none;">
						{{ field.errors }}
						{{ field }}
					</div>
				{% else %}
					<label for="code">{{field.label}}</label> <br/>
					{{ field.errors }}
					{{ field }}
				{% endif %}
	      	</div>
	      	{% endfor %}
		</div>
	</div>

    <!-- Alimentacion y costumbres -->
	<div id="panel10" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Alimentación y Costumbres</div>
		<div class="panel-body">
			{% for field in alimentacion %}


		  		<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 11  or forloop.counter == 12  or forloop.counter == 13  or forloop.counter == 14  or forloop.counter == 15  or forloop.counter == 16  or forloop.counter == 17  or forloop.counter == 18 or forloop.counter == 19 or forloop.counter == 23 %} adjust {% endif %}">

					{% if forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 11 %}
						<div style="display:none;">
							{{ field.errors }}
							{{field}}
						</div>
					{% else %}
						<label for="code">{{field.label}}</label> <br/>
						{{ field.errors }}
						{{ field }}
					{% endif %}

	      		</div>
				{% if forloop.counter == 20 %}
					<div id="suplementos-formset" style="display: none;">
						<h4>Suplementos</h4>
						{{ suplementos_formset.management_form }}
						{% for error  in suplementos_formset.errors %}
							{{ error }}
						{% endfor %}
						<table class="table table-bordered table-condensed adjust3">
							<tr>
								<th>Frecuencia</th>
								<th>Tipo</th>
								<th>Cantidad</th>
							</tr>
							{% for form in suplementos_formset %}
								<tr class="formset-suplementos">
									{{ form.id }}
									<td>{{form.frecuencia}}</td>
									<td>{{form.tipo}}</td>
									<td>{{form.cantidad}}</td>
								</tr>
							{% endfor %}
						</table>
						<button id="btn-add-suplemento" type="button" class="btn-default btn">Agregar otro</button>
						<button id="btn-delete-suplemento" type="button" class="btn-default btn">Eliminar</button>
					</div>
				{% endif %}


	      	{% endfor %}
		</div>
	</div>

	<div id="panel11" class="hide panel panel-default" data-error="0">
		<div class="panel-heading">Datos de Historia Clínica Familiar y Otra Información</div>
		<div class="panel-body">
			{% for field in datos_familiares %}
		  		<div class="form-group {% if field.errors %} has-error{% endif %} {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 %} adjust {% endif %}">
					{% if forloop.counter == 8 %}
						<div style="display:none;">
							{{ field.errors }}
							{{ field }}
						</div>
					{% else %}
						<label for="code">{{field.label}}</label> <br/>
						{{ field.errors }}
						{{ field }}
					{% endif %}

	      		</div>
				{% if forloop.counter == 1 %}
					<div id="hermanos-formset" style="display: none;">
						<h3>Hermanos</h3>
						{{ hermanos_formset.management_form }}
						{% for error in hermanos_formset.errors %}
							{{ error }}
						{% endfor %}
						<table class="table table-bordered table-condensed adjust3">
							<tr>
								<th>Nombres</th>
								<th>Apellidos</th>
								<th>Fecha de Nacimiento</th>
							</tr>
							{% for form in hermanos_formset %}
								<tr class="row-hermanos">
									{{ form.id }}
									<td>{{form.nombres}}</td>
									<td>{{form.apellidos}}</td>
									<td>{{form.fecha_nacimiento}}</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				{% endif %}

	      	{% endfor %}


		</div>
	</div>

	<input id="enviar" class="btn btn-default" type="submit" value="Guardar Datos">

</form>

{% endblock %}
