{% extends 'base.html' %}
{% block title %} Kinderzentrum {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/buttons.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jqc-1.12.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2,se-1.1.2/datatables.min.css"/>
    <link rel="stylesheet" href="/static/css/editor.bootstrap.css">
    <!--<link rel="stylesheet" href="/static/css/dataTables.editor.css">
    <link rel="stylesheet" href="/static/css/editor.dataTables.css">-->
{% endblock css %}

{% block js %}
    <script src="/static/js/dataTables.bootstrap.js"></script>
    <script src="/static/js/jquery.dataTables.js"></script>
    <script src="/static/js/buttons.bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2,se-1.1.2/datatables.min.js"></script>
    <script src="/static/js/editor.bootstrap.js"></script>
    <!--<script src="/static/js/dataTables.editor.js"></script>-->
{% endblock js %}

{% block content %}
    <div class="panel panel-primary" style="margin-left: 5%; margin-right: 5%">
        <div class="panel-heading">Filtros de búsqueda</div>
        <div class="panel-body">
            <form id="form_consulta" name='consulta_asistencia' method="post" action="{% url 'consulta_asistencia' %}" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group" >
                    <label for="input_nombre" class="col-sm-1 control-label">Paciente</label>
                    <div class="col-sm-10">
                       <input type="text" style="height: 25px" class="form-control" id="input_nombre" name="input_nombre" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-1 control-label">Terapia</label>
                    <div class="col-sm-4">
                       <select class="form-control"  name="tipo_terapia">
                            <option value="0">Todas</option>
                            {% for tterapia in tipo_terapia %}
                                    <option value={{ tterapia.id }}>{{ tterapia.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="inputPassword3" class="col-sm-1 control-label">Terapista</label>
                    <div class="col-sm-4">
                       <select class="form-control" name="terapista">
                              <option value="0">Todos</option>
                              {% for terapista in terapistas %}
                                    <option value={{ terapista.id }}>{{ terapista.nombres }} {{ terapista.apellidos }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Fecha desde:</label>
                    <div class="col-sm-4" >
                       <input type="date" name="fdesde" style="height: 25px" class="form-control" value={{ fdesde }}>
                    </div>
                    <label for="inputEmail3" class="col-sm-1 control-label">Fecha hasta:</label>
                    <div class="col-sm-4" >
                       <input type="date" name="fhasta" style="height: 25px" class="form-control" value={{ fhasta }}>
                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align: center">
                        <button id="bt_buscar" type="submit" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off" aria-label="Left Align" >
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    
    <div class="panel panel-primary" style="margin-left: 5%; margin-right: 5%">
        <div class="panel-heading">Tabla</div>
        <div class="panel-body">
            <div class="table-responsive">
                <div class="container" style="margin-top: 10px">
                    <table id="tabla_pacientes" class="table table-striped">
                        <thead>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Paciente</th>
                            <th>Terapia</th>
                            <th>Tipo de terapia</th>
                            <th>Estado de la cita</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var editor; // use a global for the submit and return data rendering in the examples
        $(document).ready( function () {
            $('#tabla_pacientes').DataTable();
            $('#bt_buscar').on('click',function () {
                event.preventDefault();
                $.ajax({
                    type: $('#form_consulta').attr('method'),
                    url: $('#form_consulta').attr('action'),
                    data: $('#form_consulta').serialize(),
                    success: function (response) {
                        var table = $('#tabla_pacientes').DataTable().destroy();
                        inicializarTabla(response);
                        //response_form_submitButon("posi")
                    },
                    error: function(response) {
                        response_form_submitButon("Error al consultar a la base de datos")
                    }
                });
                return false;
            });

            $('#bt_buscar').click();
        } );

        function inicializarTabla(response)
        {
            $('#tabla_pacientes').DataTable({
                bPaginate: true,
                searching: true,
                ordering:  true,
                data: response,
                columns: [
                    { data: "idPaciente" },
                    { data: "Fecha" },
                    { data: "Hora" },
                    { data: "paciente" },
                    { data: "Terapista" },
                    { data: "tipoTerapia" },
                    { data: "estado" }
                ],
                select: true
            });
            var table = $('#tabla_pacientes').DataTable();
            new $.fn.dataTable.Buttons( table, {
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            } );
            table.buttons().container().appendTo( $('.col-sm-6:eq(0)', table.table().container() ) );

            /*editor = new $.fn.dataTable.Editor( {
                table: "#tabla_pacientes",
                idSrc:  'idPaciente',
                fields: [
                    {
                        label: "Id:",
                        name: "idPaciente"
                    }, {
                        label: "Fecha:",
                        name: "Fecha"
                    }, {
                        label: "Hora:",
                        name: "Hora"
                    }, {
                        label: "Paciente:",
                        name: "paciente"
                    }, {
                        label: "Terapista:",
                        name: "Terapista"
                    }, {
                        label: "Tipo de terapia:",
                        name: "tipoTerapia"
                    }, {
                        label: "Estado:",
                        name: "estado",
                        type:  "radio",
                        options: [
                                { label: 'Agendado',  value: 'A' },
                                { label: 'Cancelado', value: 'C' },
                                { label: 'Asistio', value: 'S' },
                                { label: 'No asistio', value: 'N' }
                        ]
                    }]
             });
            // Activate the bubble editor on click of a table cell
            $('#tabla_pacientes').on( 'click', 'tbody td:nth-child(7)', function (e) {
                editor.buttons('Actualizar').bubble( this, {buttons: true} );
            } );*/
        }

        function response_form_submitButon(mensaje)
        {
            var message = $('<div class="alert alert-success error-message" style="display: none;">');
            var close = $('<a href="#" class="close" data-dismiss="alert">&times;</a>');
            message.append(close);
            message.append(mensaje); // adding the close button to the message
            // add the message element to the body, fadein, wait 3secs, fadeout
            message.appendTo($('body')).fadeIn(300).delay(2000).fadeOut(500);
        }
    </script>


{% endblock script %}